apiVersion: v1
kind: Secret
metadata:
  name: ebi-gallery
  namespace: default
type: Opaque
stringData:
  APP_KEY: "base64:<Your Laravel app key>"
  DB_HOST: "Your DigitalOcean managed database cluster endpoint"
  DB_PORT: "The port for your managed database cluster endpoint"
  DB_DATABASE: "The database to use in your database cluster, e.g. defaultdb"
  DB_USERNAME: "galleryuser"
  DB_PASSWORD: "The database password for your 'galleryuser'"
  DIGITALOCEAN_SPACES_KEY: "Your DigitalOcean Spaces access key ID"
  DIGITALOCEAN_SPACES_SECRET: "Your DigitalOcean Spaces secret key"
